/* header */
/* navabar */
.bar {
  background-color: #6C4AB6;
  padding: 0;
}

.query-bar {
  margin-left: 60px;
  margin-top: 20px;
}
.query-bar1 {
  margin-top: 20px;
  margin-right: 60px;
}
.brand-image {
    height:100px;
    margin-left: 80px;
}
.menu1 {
    font-size: 18px;
    font-weight:600;
}
.menu {
    margin-right: 130px;
    
}
/* hover */
.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: 
  #6C4AB6;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  /* carousel */
  .carousel-item {
    background-color: black;
  }
.slide-image {
height: 480px;
opacity: 0.6;

}
.slide-text {
  text-align: left;
  margin-left: 100px;
  margin-bottom: 10px;

  
}
h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 40px;
  padding-bottom: 30px;
}
p {
  font-size: 16px;
  line-height: 0.1;
  padding-bottom: 20px;
}
.slide-button {
  height: 60px;
  width: 18%;
  border-radius: 25px;
  background-color: #6C4AB6;
  color: white;
}
/* modal */

.modal-button {
  height: 30px;
  width: 25%;
  background-color: #6C4AB6;
  color: white;
  margin-right: 320px;
  border-radius: 0%;
}